<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.codingcity">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".authentication.ResetPasswordActivity"></activity>
        <activity android:name=".authentication.SignUpActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".tutorial.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".enrollment.Payments" />
        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".enrollment.CourseEnrollmentActivity"
            android:label="Enroll" />
        <activity
            android:name=".enrollment.SearchActivity"
            android:label="All Courses" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".courseinfo.CourseContent"
            android:label="Course" />
        <activity
            android:name=".courseinfo.LessonContent"
            android:label="Lesson" />
        <activity
            android:name=".quizinfo.QuizActivity"
            android:label="Quiz" />
        <activity android:name=".Help" />
        <activity android:name=".bottomnavigation.notifications.RemoveCourses" />
    </application>

</manifest>